/* FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

html {
  font-size: 16px;
}

@font-face {
  font-family: "arkhip";
  src: url(multimedia/Arkhip_font.otf);
}

.fuente1 {
  font-family: "arkhip";
}

.fuente2 {
  font-family: 'Quicksand', sans-serif;
}

/*COLORES*/
:root {
  --azuloscuro: #32383f;
  --azulclaro: #596982;
  --amarillo: #caae2b;
}

/*TITULOS*/
.titulo {
  text-align: center;
  font-size: 2.5rem;
}
.tituloHeader {
  font-size: 3rem;
  padding-left: 20%;
}
.projects {
  color: var(--amarillo);
}

/*LINEAS*/
.lineas {
  color: var(--amarillo);
  height: 5px !important;
}

.lineasAzul {
  color: var(--azulclaro);
  height: 5px !important;
}

/*------------------------------------------------------------------------------*/
/*--------------------------HEADER------------------------------------------------*/
/*------------------------------------------------------------------------------*/

header {
  background-image: url("multimedia/fondo de inicio.png");
  background-repeat: no-repeat;
  background-position: right;
}


/* BARRA DE NAVEGACION*/
.contenedorGeneralNav {
  max-width: 1920px;
}
.contLogo {
  margin-top: 1rem;
}
.logoNav {
  width: 20%;
  margin-left: 5%;
}

.nav-item a {
  color:white!important;
  font-size: 1.3rem;
  margin: 0 1rem;
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
}
.logoPrincipal {
  margin: 0 auto;
  width: 70%;

}

.heroSection {
  margin: 4rem 0;
  padding-bottom: 6rem;
}

.subtituloHeader {
  font-size: 2rem;
  padding-left: 20%;
}

.ubicacionDerecha{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/*------------------------------------------------------------------------------*/
/*--------------------------SECCION NUESTRA MISION------------------------------*/
/*------------------------------------------------------------------------------*/

#nuestraMision {
  background-image: url(multimedia/fondo-cubos.jpg);
}
/*PARRAFO 1*/
.parrafo1 {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*CARRUSEL*/
.gallery {
  width: 100%;
  margin-top: 100px;
}

.gallery-container {
  align-items: center;
  display: flex;
  height: 400px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.gallery-item {
  height: 300px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 300px;
  z-index: 0;
}

.gallery-item-1 {
  left: 15%;
  opacity: 0.4;
  transform: translateX(-50%);
  height: 200px;
  width: 200px;
}

.gallery-item-2,
.gallery-item-4 {
  height: 300px;
  opacity: 1;
  width: 300px;
  z-index: 1;
}

.gallery-item-2 {
  left: 30%;
  transform: translateX(-50%);
}

.gallery-item-3 {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
    0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
    0 0 100px rgba(255, 255, 255, 0.1);
  height: 500px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  z-index: 2;
}

.gallery-item-4 {
  left: 70%;
  transform: translateX(-50%);
}

.gallery-item-5 {
  left: 85%;
  opacity: 0.4;
  transform: translateX(-50%);
  height: 200px;
  width: 200px;
}

.gallery-controls {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  margin-top: 100px;
}

.gallery-controls button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  margin: 0 20px;
  padding: 0 12px;
  text-transform: capitalize;
}

.gallery-controls button:focus {
  outline: none;
}

.gallery-controls-anterior {
  position: relative;
}

/* .gallery-controls-anterior::before {
    border: solid #000;
    border-width: 0 2px 2px 0;
    content: '';
    display: inline-block;
    height: 4px;
    left: -10px;
    padding: 2px;
    position: absolute;
    top: 0;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 4px;
  } */

.gallery-controls-anterior:hover::before {
  left: -18px;
}

.gallery-controls-siguiente {
  position: relative;
}

/* .gallery-controls-siguiente::before {
    border: solid #000;
    border-width: 0 2px 2px 0;
    content: '';
    display: inline-block;
    height: 4px;
    padding: 2px;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 4px;
  } */

.gallery-controls-siguiente:hover::before {
  right: -18px;
}

.gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.gallery-nav li {
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

.gallery-nav li.gallery-item-selected {
  background: #555;
}

/*------------------------------------------------------------------------------*/
/*--------------------------SECCION NUESTROS SERVICIOS---------------------------*/
/*------------------------------------------------------------------------------*/

.nombreServicio {
  text-align: center;
  font-size: 2.2rem;
}

.servicioImg:hover {
  transform: scale(1.2, 1.2);
  transition-duration: 1s;
}

.boton {
  color: var(--amarillo);
  border-color: var(--amarillo);
  border-radius: 1rem;
  background-color: transparent; 
  font-weight: bold;
  text-decoration: none;
  padding: 0.3rem 2rem;
  border-style: solid;
}
.boton a {
  text-decoration: none;
  color: var(--amarillo);
}
.boton a:hover {
  color: white;
}
.boton:hover {
  background-color: var(--amarillo);
}
.botonCentrado{
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

/*------------------------------------------------------------------------------*/
/*--------------------------SECCION NUESTROS PROYECTOS---------------------------*/
/*------------------------------------------------------------------------------*/
/*.carousel-inner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto; 
}
.carousel-inner .item img {
  margin: 0 auto;
}*/

.contenedorCarousel {
  width: 50vw!important;
  margin: 0 auto;
}

.carousel-control-prev-icon {
  color:var(--azuloscuro)!important;

}

.flechaCarousel {
  color:var(--azuloscuro);
  font-size:2rem;
}
/*------------------------------------------------------------------------------*/
/*--------------------------SECCION CONTACTANOS---------------------------*/
/*------------------------------------------------------------------------------*/
.contenedorContacto{
width: 40vw;
margin: 0 auto;
}


.filaLogos {
  margin:1rem 0;
}

.logos img {
  width: 100%;
}

.logos img:hover, .logoFace img:hover {
  transform: scale(1.1);
}


.logoFace img {
  width: 85%;
  margin-left: .5rem;
}

.botonesContacto {
  border-color: #000;
}

.botonesContacto:hover{
  border-color: #fff;
}

.botonesContacto a {
  color: #000;
  font-size: 120%;
  font-weight: bolder;

}

.botonesContacto a:hover {
  color: #fff;
}


/*------------------------------------------------------------------------------*/
/*--------------------------FOOTER---------------------------*/
/*------------------------------------------------------------------------------*/


.footer {
  background-color: #C0CDDA;
  height: auto;
}

.logoFooter {
  width: 10%;
}

.contLogoFooter {
  margin-top: 1rem;
  margin-bottom: 1rem;
}